*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}
*:focus{
    outline: 0; /* bir elemana tıkladığında çıkan kenarlık gibi rengi kaldırmak için*/
}
html,
body{
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.chat{
    height: 100%;
    display: flex;
}
.sidebar{
    width: 300px;
    min-width: 300px;
    background: #eee;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1; /* kalan genişliği otomatik olarak kapsar.*/
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}
.search{
    height: 50px;
    min-height: 50px;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.search input{
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-radius: 30px;
    font-size: 14px;
    padding: 0 35px 0 15px;
}
.search i{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #999;
}
.contacts ul li a{
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0 10px;
}
.chat .sidebar .contacts ul li a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.chat .sidebar .contacts ul li a .contact .name{
    font-size: 15px;
    color: #333;
    font-weight: 500;
}
.chat .sidebar .contacts ul li a .contact .message{
    font-size: 13px;
}
.chat .sidebar .contacts ul li a:hover,
.active a{
    background-color: #fff;
}
.sidebar .contacts{
    overflow: auto;
}
.sidebar .contacts ul li a .notification{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    font-size: 11px;
    color: #fff;
    text-align: center;
    line-height: 17px;
    margin-left: auto;
}
.content .message-header{
    height: 50px;
    min-height: 50px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 15px;
}
.content .message-header .user-info{
    display: flex;
    align-items: center;
}
.content .message-header .user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.content .message-header .user-info .user .name{
    font-size: 15px;
    font-weight: 500;
    color: #222;
}
.content .message-header .user-info .user .time{
    font-size: 14px;
    color: #999;
}
.content .message-header .actions ul{
    display: flex;
}
.content .message-header .actions ul li a{
    font-size: 19px;
    color: #999;
    display: block;
    width: 30px;
    text-align: center;
}
.content .message-header .actions ul li a:hover{
    color: #222;
}
.message-form{
    border-top: 1px solid #ddd;
    padding: 10px;
}
.message-form ul{
    display: flex;
}
.message-form .input{
    flex: 1;
}
.message-form .input input{
    width: 100%;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 36px;
    font-size: 14px;
    padding: 0 15px;
    box-sizing: border-box;
}
.message-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: auto;
}
.message-form ul li a{
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 36px;
}
.message-form ul li{
    margin: 0 5px;
}
.message-form ul li.laugh a{
   background-color: rgb(0, 145, 255);
}
.message-form ul li.microfone a{
    background-color: orangered;
}
.message-form ul li.image a{
    background-color: rgb(38, 128, 0);
}
.message-content .message{
    align-self: flex-start; /* Genişliği kadar kapsıyor*/
    margin-bottom: 20px;
}
.message-content .message .buble{
    padding: 6px 12px;
    background-color: #f7f7f7;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 5px;
}
.message-content .message .time{
    font-size: 12px;
    color: #999;
}
.message-content .message.me{
    align-self: flex-end;
}
.message-content .message.me .buble{
    background-color: #2196f3;
    color: #fff;
}
.message-content .message.me .time{
    text-align: right;
}
.message-content::before{
    content: "";
    margin-bottom: auto;
}